.section {
  margin-top: 170px;
  margin-left: 303px;
  // width: 100%;
  overflow: hidden;
}

.swiper {
  width: 100%;
}

.slider {
  margin-left: 303px;
  width: 100%;
}

.slide {
  width: 68%;
}

.image {
  width: 100%;
}