.section {
  margin-top: 350px;
  // margin-top: 170px;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 570px;

  :global(.swiper-pagination) {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  :global(.swiper-pagination-bullet) {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0px) !important;
    border: 1px solid #247251;
    width: 120px;
    height: 10px;
    border-radius: 10px;
    background-color: transparent;
    opacity: 1;
}

  :global(.swiper-pagination-bullet-active) {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0px) !important;
    background: #247251;
    width: 120px;
    height: 10px;
    border-radius: 10px;
  }


}

.slider {
  margin-left: 320px;

  .counter {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #247251;
  }
}

.slide {
  // max-width: 1280px;
  // width: 100%;
  width: 68%;

  &:last-of-type {
    width: 100%;
    max-height: 480px;
    height: 100%;
  }
}

.image {
  width: 100%;

  &:last-of-type {
    width: 100%;
    max-height: 480px;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}

.bullit {
  color: red;
}