@use "../../utils/variables/global.scss";

.flexContainer {
    position: relative;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 32px; 
    width: 100%;
    max-width: 730px;
    border-bottom: 1px solid var(--color-green-grey);
}

.leftContainer {
    flex: 1; 
}    

.rightContainer {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.flexContainerForPrice {
    position: relative;
    margin-top: 44px;
    display: flex;
    justify-content: end;
    align-items: center; 
    gap: 20px; 
    position: relative;
}

.date {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.description {
    display: -webkit-box;
    max-width: 471px;
    height: 81px;
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
}

.schedule {
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: var(--color-green-accent-active);
  }
  
.schedule span {
    position: relative;
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;
}
  
.schedule span:not(:last-child)::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--color-green-accent-active);
    display: inline-block;
    margin: 3px 6px; 
}

.status {
    margin-left: 24px;
    color: var(--color-green-grey);
    font-family: var(--font-primary);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.35;
}

.buttonPay {
    width: 157px;
    height: 43px;
    margin-left: 24px;
    background-color: var(--color-green-accent);
    color: var(--color-white);
    border-radius: 56px;
    font-family: var(--font-primary);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.35;
}

.price {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.buttonPopup {
    background-color: transparent;
    cursor: pointer;
}

.popup {
    padding: 16px 20px;
    box-sizing: border-box;
    width: 120px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: var(--color-background-color);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 4%;
    border-radius: 2px;
    border: none;
    position: absolute;
    top: 28px;
    left: 55px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.changeCourseButton {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.teacher {
    margin-top: 117px;
    margin-bottom: 24px;
    min-width: 179px;
    min-height: 40px;
    padding: 4px 12px 0 52px;
    box-sizing: border-box;
    background-color: var(--color-green-primary);
    background-image: url(../../images/masterclass-teacher.svg);
    background-position: 12px center;
    background-repeat: no-repeat;
    border-radius: 56px;
    font-family: var(--font-primary);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.35;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: global.$breakpoint-tablet) and (max-width: global.$breakpoint-card-curses) {
  .flexContainer {
    max-width: 337px;
  }
}
