.section {
  font-size: 20px;
}
.block {
  display: flex;
  justify-content: space-between;
}
.headerTitle {
  width: 716px;
  font-family: var(--font-primary);
}
.headerName {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
}
.courseName {
  text-transform: lowercase;
  font-size: 58px;
  line-height: 110%;
  font-style: italic;
  font-weight: 500;
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
}
.text {
  margin-top: 24px;
  max-width: 584px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
}
.paragraph {
  margin-top: 8px;
  font-size: 20px;
  line-height: 135%;
}

@media screen and (max-width: 1340px) {
  .section {
    width: 48vw;
    max-width: 358px;
  }

  .headerName {
    font-size: 26px;
  }

  .courseName {
    font-weight: 600;
    font-size: 28px;
  }

  .paragraph {
    font-size: 16px;
  }

  .headerTitle {
    width: 43vw;
  }
}
