.NotFoundElement {
  margin-top: 89px;
  max-width: 100%;
  display: flex;
  gap: 46px;
  object-fit: cover;
  justify-content: center;
  height: auto;
}

.four {
  display: block;
  position: relative;
}

.NotFoundImg {
  display: block;
  position: relative;
  z-index: 100;
}
.zero {
  position: absolute;
  top: 200px;
  left: 610px;
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 50%;
}

@media (max-width: 700px) {
  .NotFoundElement {
    gap: 27px;
    margin: 0 auto;
  }
}

@media(max-width: 600px) {
  .NotFoundElement {
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .NotFoundImg {
    max-width: 80%;
    height: auto;
  }
  .zero {
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 300px;
    transform: translate(-50%, -50%);
  }
}