.section {
  margin-top: 140px;
  max-width: 1280px;
  width: 100%;
  display: flex;
  gap: 50px;
}

.contentWrapper {
  max-width: 550px;
}

.title {
  max-width: 530px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  color: var(--text-color);

  span {
    font-family: var(--font-secondary);
    font-style: italic;
    font-weight: 600;
    font-size: 58px;
    line-height: 110%;
    color: var(--text-color-secondary);
  }
}

.description {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  color: var(--text-color);

  &:first-of-type {
    margin-top: 40px;
    padding-bottom: 10px;
  }
}

.image {
  margin-top: 40px;
  max-width: 550px;
  width: 100%;
}

.accentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  font-family: 'Raleway', sans-serif;

  div:nth-child(2) {
    grid-column: 2;
    grid-row: span 2;
    position: absolute;
    top: 42%;
    right: 8%;
  }

  div:nth-child(3) {
    grid-column: 1;
  }
}

.ellipse {
  margin-bottom: 50px;
  width: 355px;
  height: 258px;
  border: 1px solid #121210;
  border-radius: 50%;
  transform: rotate(41.35deg);
}

.accentTitle {
  margin-top: 68px;
  margin-left: 75px;
  max-width: 204px;
  transform: rotate(-41.35deg);
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.accentSubtitle {
  transform: rotate(-41.35deg);
  margin-top: 8px;
  margin-left: 160px;
  max-width: 198px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
}

.twoColumn {
  position: absolute;
  top: 240px;
  right: 30px;
}

.test {
  width: 355px;
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 50%;
  border: 1px solid #121210;
  transform: rotate(41.35deg);

  h3 {
    max-width: 205px;
    width: 100%;
    margin: 100px 50px 15px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    transform: rotate(-41.35deg);
  }

  p {
    max-width: 205px;
    width: 100%;
    margin: -75px 150px;
    font-weight: 400;
    font-size: 17px;
    line-height: 135%;
    transform: rotate(-41.35deg);
  }
}