@use "../../utils/variables/global.scss";

.section {
  margin-top: 140px;
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 550px 1fr;
  grid-template-rows: auto auto auto;
  gap: 24px 88px;
}

.title {
  grid-row: 1;
  max-width: 530px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  color: var(--text-color);

  span {
    font-family: var(--font-secondary);
    font-style: italic;
    font-weight: 600;
    font-size: 58px;
    line-height: 110%;
    color: var(--text-color-secondary);
  }
}

.description {
  grid-row: 2;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  color: var(--text-color);

  &:first-of-type {
    padding-bottom: 10px;
  }
}

.image {
  grid-row: 3;
  margin-top: 12px;
  width: 100%;
}

.accentWrapper {
  grid-row: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  font-family: 'Raleway', sans-serif;

  div:nth-child(1) {
    position: absolute;
    top: 6%;
    right: 43%;
  }
  
  div:nth-child(2) {
    grid-column: 2;
    grid-row: span 2;
    position: absolute;
    top: 48%;
    right: -6%;
  }

  div:nth-child(3) {
    grid-column: 1;
    position: absolute;
    top: 59%;
    right: 44%;
  }
}

.ellipse {
  margin-bottom: 50px;
  width: 355px;
  height: 258px;
  border: 1px solid #121210;
  border-radius: 50%;
  transform: rotate(41.35deg);
}

.accentTitle {
  margin-top: 68px;
  margin-left: 75px;
  max-width: 204px;
  transform: rotate(-41.35deg);
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.accentSubtitle {
  transform: rotate(-41.35deg);
  margin-top: 8px;
  margin-left: 160px;
  max-width: 198px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
}

.twoColumn {
  position: absolute;
  top: 240px;
  right: 30px;
}

.test {
  width: 355px;
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 50%;
  border: 1px solid #121210;
  transform: rotate(41.35deg);

  h3 {
    max-width: 205px;
    width: 100%;
    margin: 100px 50px 15px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    transform: rotate(-41.35deg);

    p {
      font-weight: 700;
      font-size: 20px;
      line-height: 135%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .paragraph {
    max-width: 205px;
    width: 100%;
    margin: -75px 130px;
    font-weight: 400;
    font-size: 17px;
    line-height: 135%;
    transform: rotate(-41.35deg);
  }
}

@media screen and (max-width: 1270px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "title ."
      "description image"
      "accentWrapper accentWrapper";
    column-gap: 22px;
    width: 93vw;
  }

  .title {
    grid-area: title;
    font-size: 28px;
    font-weight: 600;
    max-width: 251px;

    span {
      font-size: 28px;
      font-weight: 600;
    }
  }

  .description {
    grid-area: description;
  }

  .description:first-of-type {
    padding: 15px 0 0;
  }

  .image {
    grid-area: image;
    margin-top: 14px;
  }

  .accentWrapper {
    grid-area: accentWrapper;
    height: 560px;
    width: 692px;
    margin: 0 auto;

    div:nth-child(1) {
      top: -6%;
      left: 18%;
    }

    div:nth-child(2) {
      top: 25%;
      left: 11%;
    }

    div:nth-child(3) {
      top: 45%;
      left: 21%;
    }
  }

  .test {
    width: 220px;
    height: 302px;
    transform: rotate(319deg);

    h3 {
      transform: rotate(41deg);
      font-size: 16px;
      margin-top: 116px;
      margin-left: 27px;
    }

    .paragraph {
      transform: rotate(41deg);
      margin-top: -20px;
      margin-left: 11px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 744px) {
  .section {
    margin-top: 80px;
    grid-template-areas: 
    "title"
    "description"
    "image"
    "accentWrapper";
    grid-template-columns: 89vw;
    gap: 20px;
    justify-content: center;
  }

  .title {
    font-size: 26px;
    font-weight: 700;
  }

  .description {
    font-size: 16px;
  }

  .description:first-of-type {
    padding: 12px 0 0;
  }

  .image {
    margin-top: 0;
  }

  .accentWrapper {
    display: flex;
    flex-direction: column;
    position: static;
    height: 874px;
    width: 89vw;
    margin-top: -15px;

    div:nth-child(1) {
      position: static;
      margin-bottom: -19px;
    }

    div:nth-child(2) {
      position: static;
      margin-bottom: -12px;
    }

    div:nth-child(3) {
      position: static;
    }
  }

  .test {
    position: static;
    width: 207px;
    height: 285px;

    h3 {
      margin-top: 103px;
    }
  }
}
