.galleryListGrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

.numberPage {
  background-color: transparent;
  margin: 0 8px;  cursor: pointer;
  font-family: var(--font-primary);
}
  
.activePage {
  padding: 10px;
  background-color: var(--color-beige-secondary);
  border-radius: 5px;
  font-family: var(--font-primary);
  cursor: pointer;
}
  
.buttonChangeCurrentPage {
  background-color: transparent;
  font-family: var(--font-primary);
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .galleryListGrid {
    grid-column-gap: 19px;
    grid-row-gap: 32px;
  }
}

@media screen and (max-width: 720px) {
  .galleryListGrid {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;
  }
}