@use "../../utils/variables/global.scss";

.section {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.block {
  padding: 0;
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 110px;
}

.formContainer {
  width: 620px;
  height: 760px;
  border-radius: 20px;
  background-color: var(--bg-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.inputsWrapper {
  width: 510px;
}

.buttonWrapper {
  padding-top: 43px;
}

.title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 135%;
  color: var(--text-color);
  padding: 44px 55px 64px 55px;
}

.list {
  padding: 55px;
  min-width: 510px;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: baseline;
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 400;
  padding: 14px;
  line-height: 47px;
  font-size: 17px;
  color: var(--color-green-grey);
}

.active {
  color: var(--text-color);
  border-bottom: 1px solid var(--color-green-accent);
}

.decoration {
  width: 361px;
  height: 444px;
  position: absolute;
  top: 0;
  right: calc((100vw - 1280px)/2 - 141px);
  z-index: -1;
  background-color: var(--color-green-primary);

  @media screen and (min-width: 1921px) {
    right: 179px
  }
}

.step {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 47px;
  font-size: 17px;
  color: var(--color-green-grey);
  margin-left: auto
}

.imgContainer {
  position: relative;
  min-width: 500px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 760px;
  justify-content: space-between;
  align-items: flex-start;
}

.figureWrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  left: 210px;
}

.figure {
  display: block;
  max-width: 340px;
  margin-left: auto;
  margin-right: 0;
  z-index: 2;
}

.figureBorder {
  position: absolute;
  right: 7px;
  width: 350px;
  height: 347px;
  border: 1px solid #121210;
  border-radius: 200px 50px 50px 50px;
  z-index: -1;
}

.text {
  width: 510px;
  height: 54px;
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: var(--text-color);
  text-align: center;
}

.responseStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleError {
  text-align: center;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 135%;
  color: var(--text-color);
  padding: 105px 55px 20px 55px;
}

.errorButtonWrapper {
  padding-top: 63px;
}

.textSendData {
padding-top: 137px;
margin-bottom: 3px;
}