:root {
  --text-color: #121210;
  --text-color-secondary: #6AAF12;
  --text-color-invert: #FFF;

  --font-primary: 'Raleway';
  --font-secondary: 'Lora';

  --btn-color: #247251;

  --bg-green-primary: #CCDAC6;
}