:root {
  --text-color: #121210;
  --text-color-secondary: #6AAF12;
  --text-color-invert: #FFF;

  --font-primary: 'Raleway';
  --font-secondary: 'Lora';

  --btn-color: #247251;

  --bg-green-primary: #CCDAC6;
  --bg-color-white: #FFF;

  --color-green-primary: #CCDAC6;
  --color-green-accent: #247251;
  --color-green-grey: #819286;
  --color-green-valid: #1E8E0B;
  --color-white: #FFFFFF;
  --color-black: #121210;
  --color-red: #BF0000;
}

button {
  border: none;
}
@mixin h2_font {
  font-size: 32px;
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 135%;
}

$breakpoint-mobile: 550px;
// .swiper-slide {
//   transition: all 0.5s ease;
//   padding: 40px 0;
// }

// .swiper-slide-active {
//   // width: 400px;
//   transform: scale(1.2) !important;
// }
