.section {
  margin-top: 200px;
  padding-bottom: 200px;
  max-width: 811px;
  width: 100%;
}

.title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  text-align: center;
  color: var(--text-color);

  span {
    font-family: var(--font-secondary);
    font-style: italic;
    font-weight: 600;
    font-size: 58px;
    line-height: 110%;
    color: var(--text-color-secondary);
  }
}

// .list {
//   margin-top: 64px;
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
// }

.list {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.wrapper {
  display: flex;
  justify-content: space-between;
}

.acorСontainer {
  display: flex;
  flex-direction: column;
}
.acorСontainer .answerWrapper {
  max-width: 660px;
  width: 100%;
  margin-top: 20px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  color: var(--text-color);
  height: 0;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif; 
}

.acorСontainer label {
  cursor: pointer;
  display: block;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 135%;
  color: var(--text-color);
  z-index: 100;
  margin: 0 0 5px;
  transition: color .35s;
}

.acorСontainer input{
  display: none;
}
.acorСontainer label:before {
  width: 40px;
  height: 40px;
  content: '';
  background-image: url('../../images/icon_question.svg');
  background-size: cover;
  float: right;
  transition: transform .35s;
  transform: rotate(0deg);
}

.acorСontainer input:checked + label:before {
  transition: transform .35s;
  transform: rotate(45deg);
}
.acorСontainer input:checked + label + .answerWrapper {
  padding-top: 20px;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: -5px;
  color: #000;
}