.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonLike {
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 0;
  width: 42px;
  height: 42px;
  background-image: url(../../images/button-like.svg);
  background-color: var(--bg-color-white);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  border-radius: 50px;
  cursor: pointer;
}

.title {
  margin-top: 16px;
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.author {
  margin-top: 4px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}

.image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.button {
  height: 48px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 10px;
}
  
.order {
  width: 187px;
  background-color: var(--color-green-primary);
  color: var(--text-color);
}
  
.buy {
  width: 170px;
  background-color: var(--color-green-accent);
  color: var(--text-color-invert);
}

.text {
  padding: 10.5px 16px;
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

@media screen and (max-width: 1300px) {
  .image {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 1080px) {
.buttonLike {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  background-size: 24px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.author {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}

.image {
  width: 219px;
  height: 219px;
}
}