@use '../../utils/variables/global.scss';

.section {
  width: 1280px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 31px;

  .left {
    .mobileImage {
      display: none;
    }

    .title {
      font-family: Raleway;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      color: #121210;
      margin-bottom: 24px;
      margin-top: 44px;

      span {
        font-family: Lora;
        font-size: 58px;
        font-style: italic;
        font-weight: 600;
        line-height: 110%;
        color: #6aaf12;
      }
    }

    .paragraph {
      margin: 0;
      color: #121210;
      font-family: Raleway;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      width: 584px;
    }

    .otherElements {
      margin-top: 40px;
    }
  }

  .right {
    border: 1px solid #000;
    box-sizing: border-box;
    width: 426px;
    height: 596px;
    border-radius: 600px 600px 0px 0px;
    position: relative;
    top: 16px;
    right: 16px;

    .desktopImage {
      object-fit: cover;
      border-radius: 600px 600px 0px 0px;
      position: relative;
      bottom: 16px;
      left: 16px;
      width: 426px;
      height: 596px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .section {
    width: 100%;
    padding: 0 24px;

    .right {
      width: 229px;
      height: 313px;

      .desktopImage {
        width: 229px;
        height: 313px;
      }
    }

    .left {
      .title {
        font-size: 26px;
        line-height: 110%;
        margin-top: 0;

        span {
          font-size: 28px;
        }
      }

      .paragraph {
        font-size: 16px;
        width: 48vw;
      }

      .otherElements {
        margin-top: 28px;
      }
    }
  }
}

@media screen and (max-width: 645px) {
  .section {
    margin-top: 2px;
    padding: 0 20px;

    .right {
      display: none
    }

    .left {
      .mobileImage {
        display: block;
      }

      .title {
        margin-bottom: 17px;
      }

      .paragraph {
        margin-top: 20px;
      }

      .otherElements {
        margin-top: 43px;
      }
    }
  }
}