.section {
  width: 100%;
  display: flex;
}

.containerInfo {
  display: flex;
  gap: 40px;
  max-width: 840px;
}

.atributContainer {
  margin-top: 20px;
}

.iconContainer {
  align-self: center;
}

@media screen and (max-width: 1340px) {
  .section {
    justify-content: center;
  }
  
  .containerInfo {
    gap: 20px;
    max-width: 700px;
  }
}



