@use "../../utils/variables/global.scss";

.block {
  padding-bottom: 103px;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #819286;
}

.otherContainer {
  margin: 88px auto 0;
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.linkList {
  margin-top: 15px;
  max-width: 128px;
  display: flex;
  height: 32px;
  gap: 16px;
}

.linkVk {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url('../../images/icon_vk.svg');
}

.linkFb {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url('../../images/icon_facebook.svg');
}

.linkTg {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url('../../images/icon_telegram.svg');
}

.linkInstagram {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url('../../images/icon_instagram.svg');
}


.navList {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px 56px;
}

.navlink {
  text-decoration: none;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 135%;
  color: var(--text-color);
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .block {
    padding-bottom: 44px;
  }
  
  .otherContainer {
    margin: 40px auto 0;
    flex-direction: column;
    width: calc(100% - 40px);
  }

  .logoContainer {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
  }
  
  .linkList {
    margin-top: 15px;
    max-width: 115px;
    gap: 8px;
  }

  .navigation {
    order: 3;
    margin-top: 32px;
  }
  
  .navList {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }
  
  .navlink {
    font-weight: 400;
    font-size: 14px;
  }

  .about {
    grid-row: 1;
    grid-column: 1;
  }

  .shop {
    grid-row: 2;
    grid-column: 1;
  }

  .gallery {
    grid-row: 1;
    grid-column: 2;
  }

  .certificates {
    grid-row: 2;
    grid-column: 2;
  }

  .courses {
    grid-row: 1;
    grid-column: 3;
  }

  .blog {
    grid-row: 2;
    grid-column: 3;
  }
}
