@use "../../utils/variables/global.scss";

.container {
  max-width: 643px;
  width: 100%;
  margin: auto 0;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  column-gap: 55px;
}

.link {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 23px;
  font-size: 17px;
  color: var(--text-color);
  transition: color .3s linear;
}

.linkActive {
  color: var(--color-green-accent);
}

.link:hover {
  color: var(--color-green-accent);
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .container {
    display: none;
  }

  .container_mobile {
    display: block;
  }

  .list{
    flex-direction: column;
    gap: 20px;
    margin: 0 0 44px 20px;
  }

  .link {
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
  }
}
