.button {
  padding: 16.5px 40px;
  border-radius: 56px;
  box-sizing: border-box;
  cursor: pointer;

  &.fill {
    font-size: 17px;
    font-family: Raleway;
    font-weight: 500;
    line-height: 135%;
    color: #fff;
    background-color: #247251;
    border: 1.5px solid #247251;
  }

  &.outline {
    border: 1.5px solid #247251;
    background-color: transparent;
    font-size: 17px;
    font-family: Raleway;
    font-weight: 500;
    line-height: 135%;
    color: #247251;
  }
}