@use "../../utils/variables/global.scss";

.container {
display: none;
}

.image {
  object-fit: cover;
  border-radius: 20px 20px 300px 20px;
  width: calc(100vw - 40px);
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .container {
    display: block;
    }
}