@use '../../utils/variables/global.scss';

.logo {
  padding: 24px 0 16px 0;
}

.link {
  display: block;
  max-height: 112px;
}

@media screen and (max-width: global.$breakpoint-tablet) {
  .logo {
    padding: 24px 0 16px 24px;
  }
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .logo {
    width: 116px;
    padding: 16px 25px 0px 20px;
  }
}
