.sidebar {
  box-sizing: border-box;

  top: 0px;
  display: block;
  position: sticky;
  -webkit-position: sticky;
  max-width: 400px;
  height: 580px;

  background-color: #ccdac6;
}
.share {
  position: absolute;
  top: 24px;
  right: 24px;
}
.innerBlock {
  max-width: 400px;
  height: 580px;
  justify-content: center;
  text-align: center;

  padding: 173px 77px 38px 77px;
  font-family: var(--font-primary);
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}
.coursePrice {
  font-size: 32px;
}
.duration {
  font-size: 17px;
  white-space: nowrap;
}
.button {
  margin-top: 40px;
  background-color: #247251;
  border-radius: 60px;
  padding: 8px 28px;
  color: var(--text-color-invert);
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  white-space: nowrap;
  cursor: pointer;
  white-space: nowrap;
}
.buttonOutline {
  margin-top: 24px;
  background-color: transparent;
  border-radius: 60px;
  padding: 8px 20px;
  border: 1px solid #247251 !important;
  color: #247251;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
  line-height: 20px;

  cursor: pointer;
}

.giftContainer {
  margin-top: 69px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.giftIcon {
  width: 36px;
  height: 36px;
}
.gift {
}
