@use "../../utils/variables/global.scss";

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
  z-index: 200;

  &_open {
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.content__wrapper {
  padding: 48px 75px;
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    position: relative;
  }
}

.button__close {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: -7%;
  right: -7%;
  background: transparent;
  cursor: pointer;
  transition: .5s;

  &:hover {
    opacity: .7;
  }

  svg {
    width: 40px;
    height: 40px;
    fill: #fff;
  }
}

.cancel_icon {
  display: block;
}

.cancel_icon_mobile {
  display: none;
}

.content {
  width: 660px;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1.5px solid #247251;
  border-radius: 4px;
}

.consent {
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #000;
}

.content__checkbox {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;

  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  input[type="checkbox"]:checked + span {
    background-image: url(../../images/Ellipse_1211.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.image {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
}

.description {
  margin-bottom: 32px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
}

.hours {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
}

.comment_heading {
  margin-bottom: 4px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #819286;
}

.textarea {
  width: 100%;
  min-height: 100px;
  margin-bottom: 24px;
  background-color: #CCDAC6;
  border-bottom: 1px solid #121210;
  resize: none;
}

.input {
  width: 100%;
  padding-bottom: 6px;
  margin-bottom: 24px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.04em;
  outline: none;
  border: none;
  border-bottom: 1px solid #121210;

  &.invalid {
    border-bottom-color: #BF0000;
  }

  &:valid {
    border-bottom-color: #1E8E0B;;
  }
}

.error {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
  color: #BF0000;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
}

@media screen and (max-width: global.$breakpoint-mobile) {

  .popup {
    align-items: flex-start;
  }

  .image {
    height: calc(100vw*0.3);
  }

  .title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 27px;
  }
  
  .description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 21px;
  }

  .hours {
    margin-top: 50px;
    font-size: 14px;
    line-height: 135%;
  }

  .comment_heading {
    font-size: 15px;
    line-height: 20.25px;
    letter-spacing: 0.6px;
  }

  .textarea {
    margin-bottom: 20px;
  }

  .content {
    width: 100%;

  .cancel_icon {
    display: none;
  }

  .cancel_icon_mobile {
    display: block;
  }

    .button__close {
      width: 24px;
      height: 24px;
      top: 10px;
      right: 10px;
  
      svg {
        width: 24px;
        height: 24px;
        fill: #fff;
      }
    }
  }

  .checkbox {
    width: 20px;
    height: 20px;
  }

  .consent {
    width: calc(100% - 68px);
    font-size: 14px;
    line-height: 135%;
  }

  .content__checkbox {
    margin-bottom: 20px;
  }

  .input {
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 20.25px;
    letter-spacing: 0.6px;

    &.invalid {
      border-bottom-color: #BF0000;
    }

    &:valid {
      border-bottom-color: #1E8E0B;;
    }
  }

  .error {
    position: static;
  }

  .content__wrapper {
    padding: 20px 20px 40px 20px;

    .label {
      flex-direction: column;
    }
  }
}
