.day {
    font-weight: 400;
    font-size: 17px;
    line-height: 135%;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .day:hover {
    cursor: pointer;
    opacity: 0.7;
  }