.formWrapper {
  max-width: 510px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.formTitle {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color);
}

.form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  padding-bottom: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #121210;;
}

.btnWrapper {
  max-width: 293px;
  margin-top: 40px;
  position: relative;

  .submit {
    background-color: var(--btn-color);
    border-radius: 60px;
    padding: 18px 40px;
    color: var(--text-color-invert);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 4;
  }

  .btnBorder {
    position: absolute;
    width: 100%;
    height: 56px;
    left: 10px;
    top: 10px;
    border: 1px solid black;
    border-radius: 100px;
    z-index: 1;
  }
}