@use "../../utils/variables/global.scss";

.formWrapper {
  max-width: 510px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.formTitle {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color);
}

.form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    position: relative;

    span {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -80%;
      color: #BF0000;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.04em;
    }

  }
}

.input {
  width: 100%;
  padding-bottom: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #121210;;
}

.btnWrapper {
  max-width: 293px;
  margin-top: 40px;
  position: relative;
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .formTitle {
    line-height: 135%;
  }
  
  .input {
    border-bottom: 1.5px solid #121210;
    font-size: 17px;
  }
  
  .btnWrapper {
    width: 325px;
    max-width: 400px;
    margin-top: 20px;
  
    .submit {
      width: calc(100% - 10px);
      height: 44px;
      border-radius: 56px;
      padding: 11px 40px;
      font-size: 16px;
      line-height: 135%;
      margin: 0 auto;
    }
  
    .btnBorder {
      width: calc(100% - 10px);
      height: 44px;
      left: 5px;
      top: 5px;
      border-radius: 56px;
    }
  }
}
