@use "../../utils/variables/global.scss";

.title {
  grid-column: 1;
  grid-row: 1;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
}

.description {
  grid-column: 1;
  margin-top: 28px;
  max-width: 584px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;

  &:nth-of-type(1) {
    grid-row: 2;
  }

  &:nth-of-type(2) {
    grid-row: 3;
  }

  &:last-of-type {
    margin-top: 10px;
  }
}

.span {
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: 600;
  font-size: 58px;
  line-height: 110%;
  color: var(--text-color-secondary);
}

.route {
  width: 1280px;
  display: flex;
  margin: 244px 0 88px;
  font-family: var(--font-primary);
}

.routeItems {
  display: flex;
  gap: 20px;
}

.routeItem {
  text-decoration: none;
  color: #819286;
  justify-content: center;
  align-content: center;
}

.routeItemGreen {
  text-decoration: none;
  color: #6aaf12;
  justify-content: center;
  align-content: center;
}

.indicator {
  text-align: center;
  margin-top: 5px;
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .title {
    grid-row: 1;
    font-size: 26px;
  }

  .span {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
    margin-top: 0;

    &:nth-of-type(1) {
      grid-row: 3;
    }

    &:nth-of-type(2) {
      grid-row: 4;
    }
  }
}
