.slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 36px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

}