@use "../../utils/variables/global.scss";

.right {
  border: 1px solid #000;
  box-sizing: border-box;
  width: 426px;
  height: 596px;
  border-radius: 600px 600px 0px 0px;
  position: relative;
  top: 16px;
  right: 16px;

  .desktopImage {
    object-fit: cover;
    border-radius: 600px 600px 0px 0px;
    position: relative;
    bottom: 16px;
    left: 16px;
    width: 426px;
    height: 596px;
  }
}

@media screen and (max-width: global.$breakpoint-xsmall-laptop) {
  .right {
    width: 220px;
    height: 308px;
  
    .desktopImage {
      top: 4px;
      left: 8px;
      width: 220px;
      height: 308px;
    }
  }

}