@use "../../utils/variables/global.scss";

.mainContainer {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  border-radius: 24px;
  width: 100%;
  max-width: 1280px;
	padding-block: 20px;

  &:hover {
    box-shadow: 8px 8px 30px 6px rgba(214, 212, 209, 0.6);
  }
}

.imgWrapper {
  position: relative;
}

.img {
  padding: 2px 2px 0 2px;
  width: 550px;
  border-radius: 22px;
  max-height: 360px;
  object-fit: cover;
  object-position: center;
}

.contentWrapper {
  padding-right: 24px;
  width: 616px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.contentTitle {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 135%;
  color: var(--text-color);
}

.atributContainer {
  margin-top: 20px;
}

.wrapperAtribut {
  margin-bottom: 40px;
  display: flex;
  gap: 40px;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  align-self: center;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.timeIcon {
  align-self: center;
  width: 26px;
  height: 26px;
  background-image: url('../../images/time.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.priceIcon {
  align-self: center;
  width: 26px;
  height: 26px;
  background-image: url('../../images/Ic_money.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  color: var(--text-color);
  max-width: 600px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btnGroup {
  display: flex;
  padding-top: 41px;
  padding-bottom: 5px;
  gap: 20px;
}

.start {
  position: absolute;
  box-sizing: border-box;
  width: 180px;
  padding: 13px 16px;
  background-color: var(--bg-green-primary);
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
  top: 2px;
  left: 2px;
  border-radius: 20px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  line-height: 140%;
  letter-spacing: 0.04em;
}

.buttonWrapper {
  width: 100%;
}

@media screen and (max-width: global.$breakpoint-card-curses) {

  .contentWrapper {
    width: 394px;
    padding-right: 0;
  }

  .mainContainer {
    justify-content: center;
    max-width: 696px;
    gap: 20px;

    &:hover {
      box-shadow: unset;
    }

  }

  .contentTitle {
    font-size: 20px;
    max-width: 370px;
  }

  .info {
    font-size: 16px;
    padding-left: 7px;
    padding-bottom: 0;
  }

  .description {
    font-size: 16px;
    max-width: 396px;
    height: 130px;
  }

  .img {
    width: 278px;
    height: 310px;
    object-fit: cover;
    object-position: center;
  }

  .atributContainer {
    margin-top: 18px;
  }

  .wrapperAtribut {
    margin-bottom: 17px;
    display: flex;
    gap: 45px;
  }

  .btnGroup {
    padding-top: 23px;
    gap: 20px;
  }

}

@media screen and (max-width: global.$breakpoint-ipad-mini) {
  .mainContainer {
    padding: 0 24px;
  }
}

@media screen and (max-width: global.$breakpoint-pre-mobile) {
  .mainContainer {
    flex-direction: column;
    border-radius: 20px;
    width: calc(100dvw - 40px);
    align-items: center;
    padding: 0;
    gap: 16px;
    border: 1px solid var(--color-green-primary);
  }

  .imgWrapper {
    width: 100%;
  }

  .start {
    width: 174px;
  }

  .img {
    max-width: calc(100dvw - 44px);
    max-height: calc((100dvw - 44px) * 210 / 320);
    border-radius: 22px 22px 0 0;
    width: 100%;
    object-fit: cover;
  }

  .contentWrapper {
    max-width: calc(100dvw - 40px);
    width: 100%;
  }

  .contentTitle {
    font-size: 20px;
    margin-top: 0;
    padding: 0 24px 20px;
  }

  .atributContainer {
    margin-top: 0;
    padding: 0 24px;
  }

  .wrapperAtribut {
    margin: 0;
    padding-bottom: 17px;
    gap: 50px;
    justify-content: space-between;
  }

  .info {
    font-size: 16px;
    line-height: 135%;
    margin-left: 0;
    padding-left: 7px;
  }

  .timeIcon {
    width: 24px;
    height: 24px;
  }

  .priceIcon {
    width: 26px;
    height: 24px;
  }

  .description {
    font-size: 17px;
    height: 100%;
    max-height: 187px;
  }

  .btnGroup {
    gap: 16px;
    padding: 20px 24px 20px 24px;
    justify-content: center;
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  .btnWhite {
    display: none;
  }

}