@use "../../utils/variables/global.scss";

.imgWrapper {
  position: relative;
}

.img {
  width: 550px;
  border-radius: 20px;
  max-height: 360px;
  object-fit: cover;
  object-position: center;
}

.contentWrapper {
  width: 620px;
}

.contentTitle {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 135%;
  color: var(--text-color);
}

.atributContainer {
  margin-top: 20px;
}

.wrapperAtribut {
  margin-bottom: 30px;
  display: flex;
  gap: 81px;
}

.priceContainer {
  display: flex;
}

.info {
  margin-left: 16px;
  align-self: center;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.timeIcon {
  align-self: center;
  width: 36px;
  height: 36px;
  background-image: url('../../images/time.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.priceIcon {
  align-self: center;
  width: 36px;
  height: 36px;
  background-image: url('../../images/Ic_money.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  color: var(--text-color);
}

.btnGroup {
  display: flex;
  margin-top: 42px;
  gap: 32px;
}

.start {
  position: absolute;
  box-sizing: border-box;
  width: 180px;
  padding: 13px 16px;
  background-color: var(--bg-green-primary);
  font-family: var(--font-primary);
  font-size: 0.875rem;
  color: var(--text-color);
  text-align: center;
  top: -33px;
  right: -70px;
  border-radius: 0px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  line-height: 140%;
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .imgWrapper {
    width: 100%;
  }

  .img {
    max-width: calc(global.$breakpoint-mobile - 40px);
    max-height: 57vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    object-fit: cover;
  }
  
  .contentWrapper {
    max-width: calc(global.$breakpoint-mobile - 40px);
    width: 100%;
  }
  
  .contentTitle {
    font-size: 20px;
    margin-top: 20px;
    padding: 0 24px;
  }
  
  .atributContainer {
    margin-top: 17px;
    padding: 0 24px;
  }
  
  .wrapperAtribut {
    margin-bottom: 16px;
    gap: 50px;
  }
  
  .info {
    font-size: 16px;
    line-height: 135%;
    margin-left: 8px;
  }
  
  .timeIcon {
    width: 24px;
    height: 24px;
  }
  
  .priceIcon {
    width: 24px;
    height: 24px;
  }
  
  .description {
    font-size: 14px;
  }
  
  .btnGroup {
    margin-top: 16px;
    gap: 0;
    padding: 0 24px 40px 24px;
    justify-content: center;
  
    button {
      width: 100%;
      &:last-child {
        display: none;
      }
    }
  }
  
  .btnWhite {
    display: none;
  }
}
