.route {
  display: flex;
}
.routeItems {
  display: flex;
  gap: 20px;
}

.routeItem {
  text-decoration: none;
  color: #819286;
  justify-content: center;
  align-content: center;
}
.routeItemGreen {
  text-decoration: none;
  color: #6aaf12;
  justify-content: center;
  align-content: center;
}
.indicator {
  text-align: center;
  margin-top: 5px;
}
