.route {
  display: flex;
  margin-top: 446px;
  // list-style: none;
}
.routeItems {
  // list-style: none;
  display: flex;
  gap: 20px;
}

.routeItem {
  text-decoration: none;
  color: #819286;
}
