@use '../../utils/variables/global.scss';

.list {
  display: flex;
  justify-content: space-between;
  gap: 23px;
  padding: 44px 0 36px;
  position: relative;
}

.item {
  // после переноса модалки нужно убрать position
  position: relative;
  &:hover svg {
    stroke: var(--text-color-secondary);
    transition: 0.5s;
  }
}

.item,
.button,
.link {
  height: 32px;
}

.active {
  stroke: var(--color-green-accent);
}

.button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.decoration {
  width: 360px;
  height: 444px;
  position: absolute;
  top: 0;
  right: -140px;
  z-index: -1;
  background-color: var(--bg-green-primary);
}

@media screen and (max-width: global.$breakpoint-tablet) {
  .list {
    padding: 31px 24px 45px 26px;
    gap: 12px;
  }

  .decoration {
    right: 0;
    width: 302px;
    height: 222px;
  }
}

@media screen and (max-width: global.$breakpoint-mobile) {
  .list {
    padding: 31px 20px 56px 11px;
    gap: 12px;
  }

  .item,
  .button,
  .link,
  .icon {
    width: 24px;
    height: 24px;
  }

  .decoration {
    right: 0;
    width: 199px;
    height: 111px;
  }
}
