@use "../../utils/variables/global.scss";

.list {
  padding: 0;
  margin: 0;
  min-width: 192px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  list-style-type: none;
}

.search {
  width: 32px;
  height: 32px;
  background-image: url('../../images/Ic_search.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  color: red;
}

.profile {
  background-image: url('../../images/Ic_profile.svg');
}

.cart {
  background-image: url('../../images/Ic_shopping_bag.svg');
}

.button {
  // display: none;
  height: 24px;
  width: 24px;
  background-image: url('../../images/hamburger_menu.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.hamburgerMenuButton {
  display: none;
}

@media screen and (max-width: global.$breakpoint-mobile) {

  .hamburgerMenuButton {
    display: block;
  }

  .list {
    background-color: var(--bg-green-primary);
    padding: 31px 0 45px 0;
    gap: 16px;
    justify-content: center;
    max-width: 140px;
  }

  .item {
    display: none;
    flex: 0 0 100%;
  }

  // .search {
  //   display: none;
  // }

  .link {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
  
  .profile {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
  
  .cart {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }

  // .button {
  //   display: block;
  // }
}
