.container {
  margin-top: 104px;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
}

.title {
  font-family: var(--font-primary);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-left: 0px;
}

.listFirst {
  padding-left: 24px;
  padding-bottom: 86px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
}

.listFirst li {
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
}

.listFirst li::before {
  content: "•";
  position: absolute;
  left: 9px;
  font-size: 19px;
  color: black;
}

.listSecond {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 248px;
}

.listSecond li {
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
}

@media screen and (max-width: 1340px) {
  .container {
    margin-top: 28px;
    width: 93vw;
  }

  .title {
    font-size: 20px;
    margin-bottom: 22px;
  }

  .listFirst {
    gap: 0;
    padding-bottom: 28px;
  }

  .listFirst li {
    font-size: 16px;
  }

  .containerInfo:first-of-type {
    width: 51vw;
  }

  .listSecond {
    gap: 2px;
    margin-bottom: 160px;
  }
}
