@use "../../utils/variables/global.scss";

.container {
  margin-top: 104px;

  @media screen and (max-width: global.$breakpoint-tablet-for-course-page) {
    margin-top: 28px;
    width: 93vw;
  }

  @media screen and (max-width: global.$breakpoint-tablet) {
    margin-top: 515px;
  }
}

.containerInfo {
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);

  @media screen and (max-width: global.$breakpoint-tablet) {
    width: 89%;

    &:first-of-type {
      width: 89%;
    }
  }

  @media screen and (max-width: global.$breakpoint-tablet-for-course-page) {
    &:first-of-type {
      width: 51vw;
    }
  }
}

.title {
  font-family: var(--font-primary);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-left: 0px;

  @media screen and (max-width: global.$breakpoint-tablet-for-course-page) {
    font-size: 20px;
    margin-bottom: 22px;
  }

  @media screen and (max-width: global.$breakpoint-tablet) {
    &.lastTitle {
      font-size: 26px;
    }
  }
}

.listFirst {
  padding-left: 24px;
  padding-bottom: 86px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;

  li {
    font-weight: 400;
    font-size: 17px;
    line-height: 135%;

    @media screen and (max-width: global.$breakpoint-tablet-for-course-page) {
      font-size: 16px;
    }

    &::before {
      content: "•";
      position: absolute;
      left: 9px;
      font-size: 19px;
      color: black;
    }
  }

  @media screen and (max-width: global.$breakpoint-tablet-for-course-page) {
    gap: 0;
    padding-bottom: 28px;
  }
}

.listSecond {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 248px;

  li {
    font-weight: 400;
    font-size: 17px;
    line-height: 135%;
  }

  @media screen and (max-width: global.$breakpoint-tablet-for-course-page) {
    gap: 2px;
    margin-bottom: 160px;
  }

  @media screen and (max-width: global.$breakpoint-tablet) {
    margin-bottom: 78px;
  }
}